li {
    list-style: none;
}
h2 {
    padding-bottom: 20px;
}
h5 {
    padding-bottom: 12px;
    font-weight: bold;
}

a {
    color: blue;
    font-weight: normal;
    text-shadow: none;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
}
.link-on-dark {
    color: lightblue;
}
/*ul {*/
    /*list-style: none;*/
    /*display: inline;*/
    /*padding-left: 0;*/
/*}*/
.propertyName {
    color: #004494;
}

.elements-group-bordered {
    border: solid;
    border-color: #cccccc;
    border-width: 1px;
}

.elements-group-unbordered {
    border: solid;
    border-color: transparent;
    border-width: 1px;
}

table {
    width: 100%;
    padding-left: 10px;
}

.element-main {

    width: 100%;
    padding-left: 15px;
}

.element-inner-main {
    width: 100%;
    margin-left: -10px;
    padding-left: 10px;

    margin-top: 4px;
    margin-bottom: 4px;
}

.tooltip {
    position: relative;
    /*border-bottom: 1px dotted black; !* If you want dots under the hoverable text *!*/
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 2px;
    font-size: 85%;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptext {
    top: 0px;
    right: 50%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.source-column-standard {
    background-color: #505050;
}

.source-column-no-source {
    background-color: #b0b0b0;
}

.source-column-none {
    background-color: #b0b0b0;
}
.no-padding-bottom {
    padding-bottom: 0;
}