
<br>

<div *ngIf="data && data.elements">

  <table *ngFor = "let element of data.elements">

    <tr *ngIf="element.elementsGroup">
      <div class="{{element.borderClass}}">

      <th class="tooltip {{element.trusted}}">&nbsp;&nbsp;
        <span class="tooltiptext {{element.trusted}}">
        <span *ngIf="element.trusted=='trusted'"> Trusted information </span>
          <span *ngIf="element.trusted=='untrusted'"> No trust information </span>
      </span>
      </th>
      <th class="element-main">

        <h5 *ngIf="element.elementsGroupTitle">{{element.elementsGroupTitle}}</h5>

        <span *ngFor = "let element of element.elementsGroup" >
          <h2 *ngIf="element.sectionHeader"><b>{{element.sectionHeader}}</b></h2>

          <li *ngIf="element.values && element.values[1] && element.values[1].length > 0">
            <span [innerHTML]="element.values[0]" class="propertyName"></span>
            <span  *ngIf="element.values[1].length == 1" [innerHTML]="element.values[1]"></span>
            <ul *ngIf="element.values[1].length > 1">
              <li *ngFor = "let value of element.values[1]">
                <span [innerHTML]="value" ></span>
              </li>
            </ul>
          </li>

          <li *ngIf="element.linkValues && element.linkValues[1] && element.linkValues[1].length > 0">
            <span [innerHTML]="element.linkValues[0]" class="propertyName"></span>
            <span *ngIf="element.linkValues[1].length == 1">
               <span  *ngFor = "let linkValue of element.linkValues[1]">
                <a href='{{linkValue[1]}}' [innerHTML]="linkValue[0]" ></a>
              </span>
            </span>

            <ul *ngIf="element.linkValues[1].length > 1">
              <li *ngFor = "let linkValue of element.linkValues[1]">
                <a href='{{linkValue[1]}}' [innerHTML]="linkValue[0]" ></a>
              </li>
            </ul>
          </li>

          <li *ngIf="element.elementsGroup" class="element-inner-main {{element.borderClass}}">

            <h5 *ngIf="element.elementsGroupTitle">{{element.elementsGroupTitle}}</h5>

             <span *ngFor = "let element of element.elementsGroup" >
               <h2 *ngIf="element.sectionHeader"><b>{{element.sectionHeader}}</b></h2>
               <li *ngIf="element.values && element.values[1] && element.values[1].length > 0">
                  <span [innerHTML]="element.values[0]" class="propertyName"></span>
                  <span  *ngIf="element.values[1].length == 1" [innerHTML]="element.values[1]"></span>
                  <ul *ngIf="element.values[1].length > 1">
                    <li *ngFor = "let value of element.values[1]">
                      <span [innerHTML]="value" ></span>
                   </li>
                  </ul>
               </li>

               <li *ngIf="element.linkValues && element.linkValues[1] && element.linkValues[1].length > 0">
                 <span [innerHTML]="element.linkValues[0]" class="propertyName"></span>
                 <span *ngIf="element.linkValues[1].length == 1">
                   <span  *ngFor = "let linkValue of element.linkValues[1]">
                     <a href='{{linkValue[1]}}' [innerHTML]="linkValue[0]" ></a>
                   </span>
                 </span>

                 <ul *ngIf="element.linkValues[1].length > 1">
                   <li *ngFor = "let linkValue of element.linkValues[1]">
                     <a href='{{linkValue[1]}}' [innerHTML]="linkValue[0]" ></a>
                   </li>
                 </ul>
              </li>
            </span>
          </li>

        </span>
      </th>
      </div>
    </tr>
  </table>
</div>

<br>
