li {
    list-style: none;
}
h2 {
    padding-bottom: 20px;
}
h5 {
    padding-bottom: 12px;
    font-weight: bold;
}

a {
    color: blue;
    font-weight: normal;
    text-shadow: none;
}
a:hover, a:focus, a:active {
    color: blue;
    text-decoration: underline;
}
/*ul {*/
    /*list-style: none;*/
    /*display: inline;*/
    /*padding-left: 0;*/
/*}*/
.propertyName {
    color: #284F75;
}

.elementsGroup {
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid;
    border-color: #cccccc;
    border-width: 1px;
    list-style: none;
}

.trusted {
    margin-left: -15px;
    margin-right: -15px;
    border-left-width: 5px;
    border-left-color: #00c62f;
}

.notTrusted {
    margin-left: -15px;
    margin-right: -15px;
    border-left-width: 5px;
    border-left-color: #b08080;
}