li {
    list-style: none;
}
h2 {
    padding-bottom: 20px;
}
h5 {
    padding-bottom: 12px;
    font-weight: bold;
}

a {
    color: blue;
    font-weight: normal;
    text-shadow: none;
}
a:hover, a:focus, a:active {
    color: blue;
    text-decoration: underline;
}
/*ul {*/
    /*list-style: none;*/
    /*display: inline;*/
    /*padding-left: 0;*/
/*}*/
.propertyName {
    color: #004494;
}

.elementsGroupBordered {
    border: solid;
    border-color: #cccccc;
    border-width: 1px;
}

.elementsGroupUnbordered {
}

table {
    width: 100%;
}


.element-main {

    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.element-inner-main {
    width: 100%;
    margin-left: -10px;
    padding-left: 10px;
    padding-right: 10px;
}

.tooltip {
    position: relative;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 110px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 2px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptext {
    top: 0px;
    right: 50%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.untrusted {
    background-color: #b08080;;
}

.untrusted:hover {
    background-color: #b08080;;
}

.trusted {
    background-color: #80b080;
}

.trusted:hover {
    background-color: #80b080;
}