li {
    list-style: none;
}

a {
    color: blue;
    font-weight: normal;
    text-shadow: none;
}
a:hover, a:focus, a:active {
    color: blue;
    text-decoration: underline;
}
/*ul {*/
    /*list-style: none;*/
    /*display: inline;*/
    /*padding-left: 0;*/
/*}*/
.propertyName {
    color: #707090;
}

.elementsGroup {

    border: solid;
    border-color: #cccccc;
    border-width: 1px;
    list-style: none;
}