
<br>

<div *ngIf="data && data.elements">

  <table *ngFor = "let element of data.elements">

    <tr *ngIf="element.sectionHeader">
      <div class="{{element.borderClass}}">
      <th>&nbsp;&nbsp;</th><th class="element-main"><h2 class="no-padding-bottom">{{element.sectionHeader}}</h2></th>
      </div>
    </tr>

    <tr *ngIf="element.elementsGroup">
      <div class="{{element.borderClass}}">

      <th class="tooltip {{element.sourceColumnCssClass}}">&nbsp;&nbsp;
        <span class="tooltipText {{element.sourceColumnCssClass}}">
          Source:
          <div *ngIf="element.sourceName"> {{element.sourceName}}<br>
             <div *ngIf="element.sourcePage"><a class="link-on-dark" href='{{element.sourcePage.url}}' [innerHTML]="element.sourcePage.name" ></a></div>
              <div *ngIf="element.sourceMail"><a class="link-on-dark" href='{{element.sourceMail.url}}' [innerHTML]="element.sourceMail.name" ></a></div>
          </div>
          <div *ngIf="!element.sourceName"> No information given</div>
        </span>
      </th>

      <th class="element-main">

        <h5 *ngIf="element.elementsGroupTitle">{{element.elementsGroupTitle}}</h5>

        <span *ngFor = "let element of element.elementsGroup" >
          <h2 *ngIf="element.sectionHeader">{{element.sectionHeader}}</h2>

          <li *ngIf="element.values && element.values[1] && element.values[1].length > 0">
            <span [innerHTML]="element.values[0]" class="propertyName"></span>
            <span  *ngIf="element.values[1].length == 1" [innerHTML]="element.values[1]"></span>
            <ul *ngIf="element.values[1].length > 1">
              <li *ngFor = "let value of element.values[1]">
                <span [innerHTML]="value" ></span>
              </li>
            </ul>
          </li>

          <li *ngIf="element.linkValues && element.linkValues[1] && element.linkValues[1].length > 0">
            <span [innerHTML]="element.linkValues[0]" class="propertyName"></span>
            <span *ngIf="element.linkValues[1].length == 1">
               <span  *ngFor = "let linkValue of element.linkValues[1]">
                <a href='{{linkValue.url}}' [innerHTML]="linkValue.name" ></a>
              </span>
            </span>

            <ul *ngIf="element.linkValues[1].length > 1">
              <li *ngFor = "let linkValue of element.linkValues[1]">
                <a href='{{linkValue.url}}' [innerHTML]="linkValue.name" ></a>
              </li>
            </ul>
          </li>

          <li *ngIf="element.elementsGroup" class="element-inner-main {{element.borderClass}}">

            <h5 *ngIf="element.elementsGroupTitle">{{element.elementsGroupTitle}}</h5>

             <span *ngFor = "let element of element.elementsGroup" >
               <h2 *ngIf="element.sectionHeader"><b>{{element.sectionHeader}}</b></h2>
               <li *ngIf="element.values && element.values[1] && element.values[1].length > 0">
                  <span [innerHTML]="element.values[0]" class="propertyName"></span>
                  <span  *ngIf="element.values[1].length == 1" [innerHTML]="element.values[1]"></span>
                  <ul *ngIf="element.values[1].length > 1">
                    <li *ngFor = "let value of element.values[1]">
                      <span [innerHTML]="value" ></span>
                   </li>
                  </ul>
               </li>

               <li *ngIf="element.linkValues && element.linkValues[1] && element.linkValues[1].length > 0">
                 <span [innerHTML]="element.linkValues[0]" class="propertyName"></span>
                 <span *ngIf="element.linkValues[1].length == 1">
                   <span  *ngFor = "let linkValue of element.linkValues[1]">
                     <a href='{{linkValue.url}}' [innerHTML]="linkValue.name" ></a>
                   </span>
                 </span>

                 <ul *ngIf="element.linkValues[1].length > 1">
                   <li *ngFor = "let linkValue of element.linkValues[1]">
                     <a href='{{linkValue.url}}' [innerHTML]="linkValue.name" ></a>
                   </li>
                 </ul>
              </li>

              <li *ngIf="element.annotatedList && element.annotatedList[1]">
                <span  *ngFor = "let annotationFragment of element.annotatedList[1]" [innerHTML]="annotationFragment"></span>
              </li>
            </span>
          </li>

        </span>
      </th>
      </div>
    </tr>
  </table>
</div>

<br>
